import sqlite3

# Database Setup
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

cursor.execute("CREATE TABLE users(username TEXT, password TEXT)")
cursor.execute("CREATE TABLE workouts(username TEXT, workout TEXT, duration INTEGER)")

print("===== FITNESS TRACKER =====")

# Register
username = input("Create Username: ")
password = input("Create Password: ")

cursor.execute("INSERT INTO users VALUES (?, ?)", (username, password))
conn.commit()

print("\nRegistration Successful!")

# Login
print("\n===== LOGIN =====")
user = input("Username: ")
pwd = input("Password: ")

cursor.execute("SELECT * FROM users WHERE username=? AND password=?", (user, pwd))

if cursor.fetchone():
    print("\nLogin Successful!")

    while True:
        print("\n===== MENU =====")
        print("1. BMI Calculator")
        print("2. Calorie Calculator")
        print("3. Workout Logger")
        print("4. View Workouts")
        print("5. Exit")

        choice = input("Enter Choice: ")

        if choice == "1":
            weight = float(input("Weight (kg): "))
            height = float(input("Height (m): "))
            bmi = weight / (height * height)
            print("Your BMI =", round(bmi, 2))

        elif choice == "2":
            minutes = int(input("Minutes Walked: "))
            calories = minutes * 5
            print("Calories Burned =", calories)

        elif choice == "3":
            workout = input("Workout Name: ")
            duration = int(input("Duration (minutes): "))
            cursor.execute(
                "INSERT INTO workouts VALUES (?, ?, ?)",
                (user, workout, duration)
            )
            conn.commit()
            print("Workout Saved!")

        elif choice == "4":
            cursor.execute(
                "SELECT workout, duration FROM workouts WHERE username=?",
                (user,)
            )
            data = cursor.fetchall()

            if not data:
                print("No workouts found.")
            else:
                print("\nYour Workouts:")
                for workout, duration in data:
                    print(f"- {workout} ({duration} min)")

        elif choice == "5":
            print("Thank you for using Fitness Tracker!")
            break

        else:
            print("Invalid Choice!")

else:
    print("Invalid Username or Password.")

conn.close()
